<div>
  <input type="text" #nome placeholder="nome">
  <input type="text" #cognome placeholder="cognome">
  <input type="text" #indirizzo placeholder="indirizzo">
  <input type="number" #telefono placeholder="telefono">
  <input type="text" #email placeholder="email">
  <input type="date" #data placeholder="data prenotazine">
  <input type="number" #ora placeholder="ora prenotazine">
  <button (click)="salva(nome, cognome, indirizzo, telefono, email, data, ora)" >Salva</button>
</div>
@if(loading)
{
    <div>loading...</div>
}
<pre>{{data | json}}</pre>
@for(pren of data; track pren){
  <div>{{pren.nome}} - {{pren.cognome}}</div>
}
