<div>
  <input type="text" #nome placeholder="nome">
  <input type="text" #cognome placeholder="cognome">
  <input type="text" #indirizzo placeholder="indirizzo">
  <input type="number" #telefono placeholder="telefono">
  <input type="text" #email placeholder="email">
  <input type="date" #data placeholder="data prenotazine">
  <input type="number" #ora placeholder="ora prenotazine">
  <button (click)="salva(nome, cognome, indirizzo, telefono, email, data, ora)" >Salva</button>
</div>
@for(x of pre; track x){
  <app-pren [pre] = "x"></app-pren>
}
